*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

.svg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
    width: 600px;
    height: 600px;
}

.svg-container svg{
    position: absolute;
    width: 100%;
    height: 100%;
}


.inner-box{
    opacity: 0.1;
    position: relative;
    background-color: white;
    width: 10%;
    height: 10%;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    gap: 2rem;
}